<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Contacto</title>
        <!--Añadimos enlace a .css-->
        <link rel="stylesheet" href="../css/estilos.css">
        <!--Aádimos la fuente escogida para el logotipo-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
    </head>
    <header>
            <ul class="barra_navegacion">
                <li class="logotipo">NailsRossi</li>
                <li class="index"><a href="../index.html">Inicio</a></li>
                <li class="contacto_activo"><a href="./contacto.html">Contacto</a></li>
                <li class="presupuesto"><a href="./presupuesto.html">Presupuestos</a></li>
                <li class="productos"><a href="./productos.html">Productos</a></li>
            </ul>
    </header>

    <body>
        <section class="inicio_contacto">
        <img src="../images/imagen2.jpg" alt="imagen2" class="imagen2">
        <h1 class="texto_linea_blanca">Contacta con Nails Rossi</h1>
        </section>
        <h2>Contacta con nosotros</h2>
        <p>Si quieres ponerte en contacto con nosotros, saber más acerca de alguno
            de nuestros tratamientos de belleza o pedir cita previa, puedes hacerlo
            de las siguientes formas:</p>
        <h4 class="texto_con_linea">Teléfono</h4>
        <p>+33 771 045 578</p>
        <h4 class="texto_con_linea">Horario</h4>
        <p>De martes a viernes de 9:00 a 19:30</p>
        <p>Sábados de 9:00 a 13:30</p>
        <h4 class="texto_con_linea">E-mail</h4>
        <p>Nailsrossi@hotmail.com</p>
        <h4 class="texto_con_linea">Dirección</h4>
        <p>Rue des Arènes 30127, Bellegarde, France</p>

        <div class="container">
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d366.4016232160831!2d4.51236522706654!3d43.7564288052824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b5d6e7b44585ff%3A0xbe0a52eccbe52a0d!2sMarket%20Bellegarde%20Arenes!5e0!3m2!1ses!2ses!4v1729017674267!5m2!1ses!2ses" 
                        width="1900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        <div class="info_contacto"></div>
        </div>

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_social">
                <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                    <img src="../images/facebook_icon.svg" alt="Facebook" class="social_icon"></a>
                    <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
                        <img src="../images/instagram_icon.svg" alt="Instagram" class="social_icon">
                    </a>
                    <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
                        <img src="../images/twitter_icon.svg" alt="Twitter" class="social_icon">
                    </a>
            </div>
            <div class="footer_address">
                Rue des Arènes 30127, Bellegarde, France
            </div>
            <div class="footer_legal">
                <a href="views/aviso-legal.html" class="legal-link">Aviso legal</a>
            </div>
            <div class="logotipo_piepag">
                NailsRossi
            </div>
        </div>
            
        <p class="footer_copyright">© 2024 NailsRossi. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
