<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Nails Rossi</title>
        <!--Añadimos enlace a .css-->
        <link rel="stylesheet" href="../css/estilos.css">
        <!--Aádimos la fuente escogida para el logotipo-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
    </head>
    <header>
        <nav class="menu">
            <ul class="barra_navegacion">
                <li class="logotipo">NailsRossi</li>
                <li class="index"><a href="../index.html">Inicio</a></li>
                <li class="contacto"><a href="./contacto.html">Contacto</a></li>
                <li class="presupuesto"><a href="./presupuesto.html">Presupuestos</a></li>
                <li class="productos_activo"><a href="./productos.html">Productos</a></li>
            </ul>
        </nav>
    </header>

    <body>
        <section class="productos_destacados">
            <h1>Tratamientos Faciales</h1>
            <div class="contenedor_imagenes">
                <div class="imagen_producto">
                    <img src="../images/imagen3.jpg" alt="imagen3">
                    <div class="capa_superpuesta">
                        <a href="presupuesto.html" class="btn">Chocolaterapia<br>
                            Solicitar Presupuesto</a>
                    </div>
                </div>
                <div class="imagen_producto">
                    <img src="../images/imagen4.jpg" alt="imagen4">
                    <div class="capa_superpuesta">
                        <a href="presupuesto.html" class="btn">Lifting sin cirujía <br>
                            Solicitar Presupuesto</a>
                    </div>
                </div>
                <div class="imagen_producto">
                    <img src="../images/imagen5.jpg" alt="imagen5">
                    <div class="capa_superpuesta">
                        <a href="presupuesto.html" class="btn">Láser facial<br>
                            Solicitar Presupuesto</a>
                    </div>
                </div>
            </div>

            <h1>Tratamientos Corporales</h1>
            <div class="contenedor_imagenes">
                <div class="imagen_producto">
                    <img src="../images/imagen6.jpg" alt="imagen6">
                    <div class="capa_superpuesta">
                        <a href="presupuesto.html" class="btn">Terapia Geotermal<br>
                            Solicitar Presupuesto</a>
                    </div>
                </div>
                <div class="imagen_producto">
                    <img src="../images/imagen7.jpg" alt="imagen7">
                    <div class="capa_superpuesta">
                        <a href="presupuesto.html" class="btn">Maderoterapia <br>
                            Solicitar Presupuesto</a>
                    </div>
                </div>
                <div class="imagen_producto">
                    <img src="../images/imagen8.jpg" alt="imagen8">
                    <div class="capa_superpuesta">
                        <a href="presupuesto.html" class="btn">Drenaje linfático<br>
                            Solicitar Presupuesto</a>
                    </div>
                </div>
            </div>

            <h1>Tratamientos Antiedad</h1>
            <div class="contenedor_imagenes">
                <div class="imagen_producto">
                    <img src="../images/imagen9.jpg" alt="imagen9">
                    <div class="capa_superpuesta">
                        <a href="presupuesto.html" class="btn">Ácido hialurónico<br>
                            Solicitar Presupuesto</a>
                    </div>
                </div>
                <div class="imagen_producto">
                    <img src="../images/imagen10.jpg" alt="imagen10">
                    <div class="capa_superpuesta">
                        <a href="presupuesto.html" class="btn">Neuromoduladores<br>
                            Solicitar Presupuesto</a>
                    </div>
                </div>
                <div class="imagen_producto">
                    <img src="../images/imagen11.jpg" alt="imagen11">
                    <div class="capa_superpuesta">
                        <a href="presupuesto.html" class="btn">Peelings químicos<br>
                            Solicitar Presupuesto</a>
                    </div>
                </div>
            </div>

            <h1>Manicura y Pedicura</h1>
            <div class="contenedor_imagenes">
                <div class="imagen_producto">
                    <img src="../images/imagen12.jpg" alt="imagen12">
                    <div class="capa_superpuesta">
                        <a href="presupuesto.html" class="btn">Gel<br>
                            Solicitar Presupuesto</a>
                    </div>
                </div>
                <div class="imagen_producto">
                    <img src="../images/imagen13.jpg" alt="imagen13">
                    <div class="capa_superpuesta">
                        <a href="presupuesto.html" class="btn">Semigel<br>
                            Solicitar Presupuesto</a>
                    </div>
                </div>
                <div class="imagen_producto">
                    <img src="../images/imagen14.jpg" alt="imagen14">
                    <div class="capa_superpuesta">
                        <a href="presupuesto.html" class="btn">Pedicura<br>
                            Solicitar Presupuesto</a>
                    </div>
                </div>
            </div>
        </section>

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_social">
                <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                    <img src="../images/facebook_icon.svg" alt="Facebook" class="social_icon"></a>
                    <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
                        <img src="../images/instagram_icon.svg" alt="Instagram" class="social_icon">
                    </a>
                    <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
                        <img src="../images/twitter_icon.svg" alt="Twitter" class="social_icon">
                    </a>
            </div>
            <div class="footer_address">
                Rue des Arènes 30127, Bellegarde, France
            </div>
            <div class="footer_legal">
                <a href="views/aviso-legal.html" class="legal-link">Aviso legal</a>
            </div>
            <div class="logotipo_piepag">
                NailsRossi
            </div>
        </div>
            
        <p class="footer_copyright">© 2024 NailsRossi. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
